.subscribe-section {
  position: relative;
  height: 600px; /* Ajusta la altura según tus necesidades */
  background-color: #f0f0f0; /* Color de fondo para la sección */
}

.subscribe-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.subscribe-content {
  flex: 1;
  max-width: 400px; /* Ajusta el ancho según tus necesidades */
}

.subscribe-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.subscribe-image {
  flex: 1;
  height: 100%;
  background-image: url("https://today.duke.edu/sites/default/files/legacy-files/styles/story_hero/public/Stephoscop%20HERO.jpg?itok=1GUtDzJD"); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
}

.subscribe-circle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px; /* Ajusta el tamaño del círculo según tus necesidades */
  height: 50px;
  background-color: #3498db; /* Color del círculo */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle-link {
  width: 30px; /* Ajusta el tamaño del enlace dentro del círculo */
  height: 30px;
  background-color: #fff; /* Color del enlace dentro del círculo */
  border-radius: 50%;
}

.circle-link:before {
  content: "\2192"; /* Código Unicode de una flecha hacia la derecha */
  font-size: 18px;
  color: #3498db; /* Color de la flecha */
}
