*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nuevo{
    display: flex;
    max-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 1500px;
    background: #daf1f8;
    padding: 25px 30px;
    border-radius: 5px;
    align-items: center;
    height: 80%;
}
.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    height: 100%;
}
.container .title::before {
    content: "";
    left: 0;
    position: relative;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #f6f6f6) ;
}
.container .form -user-details {
    display: flex;
    flex-wrap: wrap;
}
form .userdetails .inputbox{
    margin-bottom: 2rem;
    width: calc(100% / 2- 20px);
}
.userdetails .inputbox .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px ;
}
.userdetails .inputbox input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 16px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
}
.userdetails .inputbox input:focus,
.userdetails .inputbox input:valid{
    border-color: #6fb8e6;
}
form .genderdetails .gendertitle{
    font-size: 20px;
    font-weight: 500;
}
form .genderdetails .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.genderdetails .category label{
 display: flex;
 align-items: center;
}
.genderdetails .category .dotone{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
.genderdetails .category .dottwo{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
.genderdetails .category .dotthree{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

form input[type="radio"]{
display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height:100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #f6f6f6) ;
}
form .button input:hover{
    background: linear-gradient(135deg, #71b7e6, #f6f6f6) ;
}
@media (max-widht: 584px) {
    .container {
    max-width: 100%;
}
form .userdetails .inputbox{
    margin-bottom: 15px;
    width: 100% ;
}
form .genderdetails .category {
    width: 100%;
}
.container .form -user-details {
max-height: 300px;
overflow-y: scroll;
}
.userdetails::-webkit-scrollbar{
    width: 0;
}
}
.button2 {
    background: #b5e8fc;
    border-radius: 10px;
    box-shadow: 7px 6px 30px #8ccef5;
    
    font-size: 18px;
    padding: 2px 5px 2px 5px;
    
    
    
  }