section {
  display: flex;
  width: 100px;
  height: 100px;
  gap: 50px;
  margin-top: 0;
}

section img {
  width: 100px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: transform 0.5s ease; /* Use transform for smoother scaling */
}

section img:hover {
  cursor: pointer;
  transform: scale(2); /* Scale the image to 200% when hovered */
  opacity: 1;
  filter: contrast(120%);
  gap: 3px;
}
