* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
 
}

.nuevo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3d3d3d;
}

.nav {
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #71b7e6, #f6f6f6);
  padding: 25px 30px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  margin-top: 2rem;
}

.container .title::before {
  content: "";
  left: 0;
  position: relative;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #f6f6f6);
}

.container .form-user-details {
  display: flex;
  flex-wrap: wrap;
}

.userdetails {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.inputbox {
  background: #b5e8fc;
  border-radius: 10px;
  box-shadow: 7px 6px 30px #5edbf1;
  font-size: 14px; /* Uniform font size */
  padding: 2px 5px 2px 5px;
  margin-bottom: 15px;
  width: 100%; /* Full width for smaller screens */
}

.userdetails .inputbox .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.userdetails .inputbox select,
.userdetails .inputbox input {
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 10px; /* Increased padding for better spacing */
  font-size: 16px;
  transition: all 0.3s ease;
}

.userdetails .inputbox select:focus,
.userdetails .inputbox input:focus,
.userdetails .inputbox select:valid,
.userdetails .inputbox input:valid {
  border-color: #6fb8e6;
  box-shadow: 0 0 5px rgba(111, 184, 230, 0.7);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  .container .form-user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .userdetails::-webkit-scrollbar {
    width: 0;
  }
}

.button2 {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 7px 6px 30px #5edbf1;
  font-size: 14px; /* Uniform font size */
  padding: 2px 5px 2px 5px;
}
