.paginateContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10000;
    border-radius: 2rem;
  }
  .paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em;
  }

  .paginate span {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ffffff;
    color: #4b6fff;
  }

  .paginate span.active {
    background-color: #007bff;
    color: #fff;
  }

  .paginate span:hover {
    cursor: pointer;
    background-color: rgb(46, 99, 245);
  }
